.button{
  background: #700;
  color: #fff;
  padding: 5px 10px;
  text-decoration: none;
  /**/

  /**/

}
.transition-button{

}
.transition-button:hover{

}
.animation-button:hover{

}
.animation-button:hover{

}
@-moz-keyframes 'color'{

}
@-webkit-keyframes 'color'{

}
@-o-key-frames 'color'{

}
@-ms-keyframes 'color'{

}

//
sample{

}
#sample_detail{

}
#tag{

}
#tag:hover{

}



